[Desktop Entry]
Type=Application
Terminal=false
Exec=szyszka
Name=Szyszka
Comment=Fast file renamer written in Rust
Icon=${SNAP}/meta/gui/szyszka.png
Categories=System;
StartupWMClass=szyszka
TryExec=szyszka
Name[en_US]=szyszka.desktop
